*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

html{
  background-color: #111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profiles{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.profile{
  background-color: #333;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color:whitesmoke;
}

.note-create-form{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}