*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

html{
  background-color: #0F172A;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F8FAFC;
  font-size: 3rem;
  padding-top: 1rem;
}

.note-create-form{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
}

.name{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1rem;
  background-color: #E5E7EB;
  color: #020617;
}

.profession{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1rem;
  background-color: #E5E7EB;
  color: #020617;
}

.create-profile{
  background-color: #22C55E;
  color: #022C22;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.create-profile:active{
  scale: 0.95;
}

.profiles{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  flex-wrap: wrap;
}

.profile{
  background-color: #1E293B;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 2px solid #334155;
  min-width: 20rem;
  color:whitesmoke;
}

.profile h1{
  color: #F1F5F9;
}

.profile p{
  color: #94A3B8;
}

.btn{
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.delete{
  background-color: #EF4444;
  color: #FFFFFF;
  padding: 0.3rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.delete:active{
  scale: 0.95;
}

.update-profession{
  background-color: #38BDF8;
  color: #020617;
  padding: 0.3rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.update-profession:active{
  scale: 0.95;
}

.update-profile{
  background-color: #FACC15;
  color: #422006;
  padding: 0.3rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.update-profile{
  scale: 0.95;
}